NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:4200

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=midespacho
DATABASE_PASSWORD=midespacho
DATABASE_NAME=midespacho
DATABASE_SSL=false

JWT_SECRET=replace_in_env
JWT_EXPIRES_IN=1h
COOKIE_NAME=md_auth

STORAGE_PROVIDER=local
MAX_FILES_PER_UPLOAD=20
MAX_FILE_SIZE_MB=15

CLOUDINARY_CLOUD_NAME=replace_in_env
CLOUDINARY_API_KEY=replace_in_env
CLOUDINARY_API_SECRET=replace_in_env

