NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:4200
FRONTEND_URLS=http://localhost:4200,http://localhost:4000

# Si defines SUPABASE_URI (o DATABASE_URL), tiene prioridad sobre host/port/user/pass/name.
# Ejemplo:
# SUPABASE_URI=postgresql://postgres:<password>@db.<project>.supabase.co:5432/postgres?sslmode=require
SUPABASE_URI=
DATABASE_URL=

# Fallback para desarrollo local sin URI:
DATABASE_HOST=aws-1-us-east-1.pooler.supabase.com
DATABASE_PORT=5432
DATABASE_USERNAME=postgres.sshchzjdokvootgxmbnr
DATABASE_PASSWORD=jHTrzhE2TxknWZTo
DATABASE_NAME=postgres
DATABASE_SSL=false
SUPABASE_URI=postgresql://postgres.sshchzjdokvootgxmbnr:jHTrzhE2TxknWZTo@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
#postgresql://postgres:jHTrzhE2TxknWZTo@db.sshchzjdokvootgxmbnr.supabase.co:5432/postgres?sslmode=require

JWT_SECRET=replace_in_env
JWT_EXPIRES_IN=1h
COOKIE_NAME=md_auth

STORAGE_PROVIDER=local
MAX_FILES_PER_UPLOAD=20
MAX_FILE_SIZE_MB=15
LOCAL_UPLOADS_DIR=uploads
LOCAL_UPLOADS_ROUTE_PREFIX=uploads
LOCAL_UPLOADS_BASE_URL=http://localhost:3000/uploads

CLOUDINARY_CLOUD_NAME=replace_in_env
CLOUDINARY_API_KEY=replace_in_env
CLOUDINARY_API_SECRET=replace_in_env
CLOUDINARY_FOLDER=midespacho

